/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {
    .background   {
   
        -fx-background-color: white;

    }

.label {
    -fx-font-size: 20pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: red;
    -fx-opacity: 0.6;
}

.label-bright {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: blue;
    -fx-opacity: 1;
}
.label-header {
    -fx-font-size: 32pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: wheat;
    -fx-opacity: 1;
}
.table-view {
    -fx-base: white;
    -fx-control-inner-background: white;
    -fx-background-color: white;
    -fx-table-cell-border-color: white;
    -fx-table-header-border-color: transparent;
    -fx-padding: 1;
}
.table-view .column-header-background {
    -fx-background-color: whitesmoke;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color: 
        blue#6666ff
        red#ff3333
        derive(-fx-base, 80%) 
        transparent;
    -fx-border-insets: 0 10 1 0;
}
.table-view .column-header .label {
    -fx-font-size: 20pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: red;
    -fx-alignment: center-left;
    -fx-opacity: 10;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: #ccccff;
}

.split-pane:horizontal > .split-pane-divider {
    -fx-border-color: black  ;
    -fx-background-color: red, derive(red,50%);
}

.split-pane {
    -fx-padding: 1 0 0 0;
}

.menu-bar {
    -fx-background-color: red;
}

.context-menu {
    -fx-background-color: red;
}

.menu-bar .label {
    -fx-font-size: 14pt;
    -fx-font-family: red;
    -fx-text-fill: red;
    -fx-opacity: 20;
}

.menu .left-container {
	-fx-background-color: red;
}


.text-field {
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Semibold";
}





.button {
    -fx-padding: 5 22 5 22;   
    -fx-border-color:white;
    -fx-border-width: 1;
    -fx-background-radius: 0;
    -fx-background-color: black;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 15pt;
    -fx-text-fill: whitesmoke;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
    -fx-background-color: red;
}

.button:pressed, .button:default:hover:pressed {
  -fx-background-color: white;
  -fx-text-fill: red;
}

.button:focused {
    -fx-border-color: red, black;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: red;
    -fx-text-fill: white;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #ffffff;
}

.button:default:hover {
    -fx-background-color: blue;
}


.pane {
    -fx-background-color: red;
}


.flow-tile {
    -fx-padding: 10.0 3.0 5.0 0.0;
    -fx-hgap: 20;
    -fx-vgap: 4;
    -fx-text-fill: blue;
}


HBox, VBox {
   
    -fx-background-color: red;
}
.vbox {
    -fx-border-color: blue;
    -fx-border-width: 30px;
    -fx-padding: 10;
    -fx-spacing: 30;
}
#xyzzy-id {
    -fx-background-color: green;
}




}
